* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body.login-body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: white;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 700px;
}

.login-container h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.login-container h3 {
    font-size: 16px;
    font-weight: normal;
    color: #888;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    font-size: 14px;
    text-align: left;
    color: #555;
}

form input {
    padding: 12px;
    border: 2px solid grey;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.3s;
}

form input:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
}

form button {
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background-color: #357ABD;
    box-shadow: 0 4px 12px rgba(74, 144, 226, 0.3);
}

.register-text {
    font-size: 14px;
    color: #888;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.register-text a {
    font-weight: bold;
    color: #4a90e2;
    text-decoration: none;
}

.register-text a:hover {
    text-decoration: underline;
}

body.register-body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 20px 20px 40px;
}

.register-container {
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    padding: 40px 30px;
    width: 700px;
}

.register-container h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 6px;
    color: #333;
}

.register-container h3 {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 30px;
    color: #666;
}

.form-registrasi {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.login-text {
    text-align: center;
    font-size: 14px;
    margin-top: 18px;
    color: #555;
    display: flex;
    flex-direction: column;
}

.login-text a {
    color: #2575fc;
    text-decoration: none;
    font-weight: bold;
}

.login-text a:hover {
    text-decoration: underline;
}

.edit-produk-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input {
    width: 100%;
    height: 50px;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    width: 100%;
    height: 50px;
    padding: 8px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

button:hover {
    background-color: #0056b3;
}


.edit-produk-container {
    width: 1000px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

.daftar-produk-body {
    height: 100vh;
    background-color: #f4f4f4;
    padding-left: 260px;
}

.daftar-produk-title {
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
}

.daftar-produk-actions {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}
.action-button-daftar-produk-edit {
    color: white;
    background-color: rgb(25, 148, 255);
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
}
.action-button-daftar-produk-delete {
    color: white;
    background-color: red;
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
}

.cart-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    z-index: 500;
    justify-content: start;
    margin-left: 28px;
    margin-bottom: 0;
}

.cart-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    width: 300px;
    padding: 15px;
    box-shadow: -1px 1px 10px -1px rgba(0,0,0,0.75);
}

.cart-item img {
    margin: 0 auto;
    width: 270px;
    height: 200px;
}

.cart-item-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: start;
}
.sidebar-divider {
    border-bottom: 1px solid white;
    width: 100%;
    margin:5px 0 40px;
}
.daftar-produk-divider {
    border-bottom: 1px solid rgb(167, 167, 167);
    width: 100%;
}
button,
.btn {
    display: block;
    width: 100%;
    height: 50px;
    padding: 8px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}
.btn-keranjang {
    display: flex;
    width: 100%;
    height: 50px;
    padding: 8px;
    margin-top: 10px;
    background-color: lime;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}
.btn-keranjang:hover {
    background-color: limegreen;
}

button:hover,
.btn:hover {
    background-color: #0056b3;
}

.sidebar {
  background-color: #012632;
  color: #ffffff;
  width: 260px;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Brand and role */
.sidebar h1 {
  font-size: 36px;
  margin-bottom: 5px;
  text-align: center;
}

.sidebar h4 {
  font-weight: 400;
  font-size: 14px;
  margin: -4px 0 20px 0;
  text-align: center;
}

/* Navigation */
.sidebar nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar nav ul li {
 margin-bottom: 30px;
  width: 100%;
}

.sidebar nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.sidebar nav ul li a.active {
  background-color: #ffffff;
  color: #012632;
}


.sidebar nav ul li a:hover {
  background-color: #d3d3d3;
  color: black;
}

/* Logout button */
.logout-form {
  margin-top: auto;
}

.logout-form-button {
  background-color: #d0004d;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.logout-form-button:hover {
  background-color: #ff0561;
}
.tambah-produk-container input,
.tambah-produk-container button, .edit-produk-container input,.edit-produk-container button {
  margin: 0; 
}
.tambah-produk-container {
    margin-left: 400px;
    margin-top: 20px;
    width: 700px;
    background: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  }
  .edit-produk-container {
    margin-left: 100px;
    width: 700px;
    background: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  }
  
  .tambah-produk-container h1, .edit-produk-container h1 {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: #1e293b;
    margin-bottom: 30px;
  }
  
  .tambah-produk-container form, .edit-produk-container form {
    display: flex;
    flex-direction: column;
    gap: 6px; 
  }
  
  .tambah-produk-container label ,.edit-produk-container label{
    font-weight: 600;
    color: #334155;
  }
  
  
  .tambah-produk-container input:focus, .edit-produk-container input:focus {
    border-color: #6366f1;
    background-color: #fff;
    outline: none;
  }
  
  .btn-submit {
    padding: 14px;
    font-size: 16px;
    background-color: lime;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .btn-submit:hover {
    background-color: limegreen;
  }
  .btn-submit-edit {
    padding: 14px;
    font-size: 16px;
    background-color: #0056b3;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  .btn-submit-edit:hover {
    background-color: #007bff;
  }

  .checkout-container {
    margin-left: 260px;
    padding: 20px;
    min-height: 100vh;
    background-color: #f4f4f4;
}
.histori-penjualan-items {
    width: calc(100% - 270px); /* 270px left margin + 200px right margin */
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 270px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow-x: auto;
    table-layout: fixed;
}
.histori-penjualan-items th, .histori-penjualan-items td {
    border: 1px solid #000;
    padding: 12px;
}
.histori-penjualan-items th {
    background-color: lime;
}
.histori-penjualan-items th:nth-child(1), .histori-penjualan-items td:nth-child(1) {
    text-align: center;
    width:70px ;
}
.histori-penjualan-items th:nth-child(2), .histori-penjualan-items td:nth-child(2) {
    width: 200px;
}
.histori-penjualan-items th:nth-child(3), .histori-penjualan-items td:nth-child(3) {
    width: 150px;
}
.histori-penjualan-items th:nth-child(4), .histori-penjualan-items td:nth-child(4) {
    width: 180px;
}
.histori-penjualan-items th:nth-child(5), .histori-penjualan-items td:nth-child(5) {
    width: 100px;
}
.histori-detail-penjualan-table {
    margin-left: 270px;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow-x: auto;
    table-layout: fixed;
}
.histori-detail-penjualan-table th, .histori-detail-penjualan-table td {
    border: 1px solid #000;
    padding: 12px;
}
.histori-detail-penjualan-table th {
    background-color: lime;
}
.histori-detail-penjualan-table th:nth-child(1), .histori-detail-penjualan-table td:nth-child(1) {
    text-align: center;
}
.histori-detail-penjualan-table td:nth-child(5) {
    text-align: center;
}
.pdf-print {
    margin-left: 270px;
    text-decoration: none;
    color: white;
    background-color: #0056b3;
    padding: 12px 30px;
    border-radius: 6px;
}
.pdf-print:hover {
    background-color: #007bff;
}
.histori-detail-penjualan-body {
    margin-top: 30px;
}
.histori-penjualan-body {
    margin-top: 30px;
}
.cart-items {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.cart-items th, .cart-items td {
    border: 1px solid #ffffff;
    padding: 12px;
    text-align: left;
}
.cart-items th {
    background-color: #012632;
    color: white;
    font-weight: bold;
}
.total {
    margin-top: 20px;
    text-align: right;
    font-weight: bold;
    font-size: 1.2em;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.checkout-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}
.empty-text {
    color: red;
    margin-bottom: 20px
}
.btn-cta {
    color: white;
    text-decoration: none;
    background-color: lime;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 6px;
}
.btn-cta:hover {
    background-color: limegreen;
}
.cart-items thead {
    border-radius: 8px;
}
.btn-pay {
    display: block;
    width: 100%;
    height: 50px;
    padding: 8px;
    margin-top: 10px;
    background-color: limegreen;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    font-weight: bold;
    font-size: 18px;
}
.btn-pay:hover {
    background-color: lime;
}
.delete-item-cart {
    text-decoration: none;
    cursor: pointer;
    color: white;
    background-color: red;
    border-radius:6px;
    padding: 8px 30px;
    font-weight: bold;
}