<aside class="sidebar">
    <h1>KasirKita</h1>
    <nav>
        <ul>
            <li>  <a href="/produk">Daftar Produk</a></li>
          <li><a href="/produk/tambah">Tambah Produk</a></li>
        </ul>
    </nav>
    <form action="/auth/logout" method="GET" class="logout-form">
        <button type="submit">Logout</button>
    </form>
</aside>